.centerBlock{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
.centerBotomBlock{
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
#toolbarGr {
    position: absolute;
    top: 20px;
    left: 20px;
}
.toolbarBtn {
    border: solid 1px #000000;
    background-color: gainsboro;
}
#progressInfo {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
table {
    width: 200px;
    background-color: aliceblue;
}
table td {
    border: 1px solid;
}
.table_title {
    background-color: aquamarine;
    text-align: center;
}
.table_text_r {
    text-align: right;
}
body {
    overflow: hidden;
}
.itemList {
    min-width: 200px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.itemList_thumbnail {
    margin-left: 10px;
    flex: 0 1 calc(50% - 10px);
}
.itemList_thumbnail:nth-child(n + 3) {
    margin-top: 10px;
}
.itemList img {  
    width: 100%;  
    display: block;
    opacity: 0.3;
}
.thumbnail-selected img {
    opacity: 1;
}
#loadEnvform {
    position: absolute;
}
#opacitySlider {
    position: absolute;
    width: 240px;
    left: 20px;
    bottom: 80px;
}
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
}
.logo img {
    height: 48px;
}